@model ArticleViewModel

<main>
    <div class="Start">
        <h2>サンプルタイトル</h2>
        <img src="~/Content/img/F21E470E-BBC6-4EC2-8A42-CBF8DB57911B.jpg" width="679" height="275">
        <p>20211001</p>
    </div>

    <div class="Middle">
        <h2>サブタイトル</h2>
        <p>今回実装したbatプログラムのサンプルコード紹介します。</p>
        <p>最初に、自身が管理者権限で実行されたか否かを判定し、管理者権限で実行されていなければ、Powerhsellから管理者権限で起動しなおします。</p>
        <p>その後アーキテクチャの判定をして処理を分岐します。</p>
        <p>アーキテクチャに合ったインストーラーファイルをbitsadminでダウンロードして実行します。</p>
        <p>今回実装したbatプログラムのサンプルコード紹介します。</p>
        <p>最初に、自身が管理者権限で実行されたか否かを判定し、管理者権限で実行されていなければ、Powerhsellから管理者権限で起動しなおします。</p>
        <p>その後アーキテクチャの判定をして処理を分岐します。</p>
        <p>アーキテクチャに合ったインストーラーファイルをbitsadminでダウンロードして実行します。</p>
    </div>

    <div class="end">
        <h2>まとめ</h2>
        <p>今回は、インターネットを介してファイルをダウンロードして管理者権限で実行する一連の処理をWindowsのbat形式で実行するサンプルコードを紹介しました。</p>
        <p>実は今回のサンプルコードは、過去に公開した以下の記事で紹介したものを流用しています。</p>
    </div>

    <div class="tag">
        <h2>Tips</h2>
        <div class="tags">
            <a href="">コード</a>
            <a href="">ファイル</a>
            <a href="">サンプル</a>
        </div>
    </div>

</main>
