<main>
    <div class="content">
        <h2>自己紹介</h2>
        <p>はじめまして。</p>
        <p>私はIT技術者として長年勤めて、昔はとある独立系中小SIerにて、業務システム開発のSEやプロマネ業務に従事しておりました。</p>
        <p>開発系業務だけではなく、ネットワーク、サーバ系の設計構築にも携わるようになり、幅広いシステム構築経験を持っています。</p>
        <p>また、その後ユーザー系企業の情報システム部署に転職し、社内システムの運用側での経験を色々と積んでまいりました。</p>
        <p>私は学生時代にITに関して専門的な教育を受けた訳でもなく、ひょんなことから偶然IT業界で働くことになり、多くの人や出来事に助けてもらいながら今までやって来れました。</p>
        <p>
            助けてもらったなかでも、やはりインターネットの世界に散らばっている情報に助けられたことが一番多く、私も今までの経験や知識をインターネットの世界にアウトプットして、少しでも困っている人たちの助けになれたらと思い、ブログを始めることに致しました。
        </p>
        <p>拙い文章ではありますが、温かい目で見守って頂けますと幸いです。</p>
        <p style="text-align: right;">ブログ管理者より</p>
    </div>
</main>
